<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Welcome!  <%=locals.user%></a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/profile">Profile</a>
      <a class="dropdown-item" href="/shopfront">Items</a>
      <a class="dropdown-item" href="/AddProduct0">Add-Items</a>
      <a class="dropdown-item" href="/logout">LogOut</a>
      
    </div>
  </li>   