<%- include("./partials/header") %>
<style>
  .ftr{
    top:700px;
  }
</style>
<div class="log">
  <h3><center>Login</center></h3>
<form action="/login" method="POST">
 
  <label for="email">Email:</label><br />
  <input type="email" id="email" name="email" required /><br />
   <label for="password">Password.:</label><br />
  <input type="password" id="password" name="password" required /><br /><br />
  <center><input type="submit" value="Submit" /></center>
  <p>Don't have Account?<a href="/signup0">SignUp</a></p>
</form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="alert alert-danger msg">
  <a class="close" data-dismiss="alert">×</a>
  Input Correct Credentials!
  <img src="close.soon" style="display:none;" onerror="(function(el){ setTimeout(function(){ $(el).parent().remove(); },2000 ); })(this);" />
</div>

<%- include("./partials/footer") %>
