<%- include("./partials/header") %>
<style>
  .ftr{
    top:600px;
  }
</style>
<div class="sign1">
  <h3><center>REGISTER</center></h3>
<form action="/signup" method="POST">
  <label for="name">NAME:</label><br />
  <input type="text" id="name" name="name" required /><br />
  <label for="email">Email:</label><br />
  <input type="email" id="email" name="email" required /><br />
  <label for="mobile">Mobile No.:</label><br />
  <input type="text" id="mobile" name="mobile" required /><br /><br />
  <label for="loc">Locality:</label>
  <select id="loc" name="locality">
    <option value="Teliyarganj">Teliyarganj</option>
    <option value="Katra-Market">Katra-Market</option>
    <option value="Civil-Lines">Civil-Lines</option>
    <option value="Phaphamau">Phaphamau</option>
    <option value="Govindpur">Govindpur</option>
  </select><br />
  <label for="password">Password.:</label><br />
  <input type="password" id="password" name="password" required /><br /><br />
  <center><input type="submit" value="Submit" /></center>
  
    <p>Already have Account?<a href="/login0">LogIn</a></p>
    
</form>

</div>
<%- include("./partials/footer") %>
