
.pimage {
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 200px;
    border: 2px solid black;

}

.desc {
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 500px;
    /* border: 2px solid black; */
    padding: 50px 50px;

}


.brand,
.price,
.address {
    display: inline-block;
    position: absolute;
}

.brand {
    top: 25px;
    left: 56px;
    font-family: sans-serif;
    font-size: 15px;
}

.ptype {
   
    font-family: sans-serif;
    font-size: 20px;
}

.price {
    top: 75px;
    left: 30px;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.address {
    
    bottom: 90px;
    left: 530px;
    font-family: sans-serif;
    font-size: 15px;
    padding: 3px 3px;
    color: rgb(6, 4, 4);
    font-weight: 600;
}

#addrs {
    padding: 3px 3px;
    width: 400px;
    height: 25px;
}

.addresslogo {
    width: 30px;
    height: 30px;
}

.ftr{

    display: inline-block;
    position: absolute;
    top: 1100px;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 5px;
    background-color: rgba(196, 159, 231, 0.893);
    color: rgb(49, 37, 26);
    opacity: 70%;
}

.left-box .content {
    font-size: x-small;
    /* text-align: center; */
}

.left-box h5 {
    font-size: smaller;
}
.para{
    display: inline-block;
    position: absolute;
    top: 130px;
    /* border: 2px solid black; */
    left: 40px;
    width: 200px;
    height: 200px;
    font-size: small;
}

